<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/recommendations.css">
</head>
<body>
    <%- include('partials/nav') %>
    <ul class="Recommendations">
        <% for (let i=0; i < seedRecipes.length; i++){ %>
            <li class="seedRecipes">
                <p>title: <%=seedRecipes[i].title %></p>
                <p>ingredients: <%=seedRecipes[i].ingredients %></p>
                <p>instructions: <%=seedRecipes[i].instructions %></p>
                <p >Cook Time: <%=seedRecipes[i].cookTime %></p>
            </li>
        <% } %>
    </ul>
</body>
</html>